<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery">
    <services>
      <configurator patch:after="*[@type='Sitecore.XA.Foundation.IoC.ServiceCollection.RegisterMvcControllersIoC, Sitecore.XA.Foundation.IoC']" type="Sitecore.Support.XA.Foundation.IoC.ServiceCollection.RegisterSupportLinkListRepository, Sitecore.Support.314016" />
    </services>
  </sitecore>
</configuration>